:root {
    --background: #111720;
    --background-alt: #1E2A32;
    --background-alt-2: #2F3A40;
    --foreground: #F2F2F2;
    --foreground-alt: #D9D9D9;
    --foreground-alt-2: #BFBFBF;
    --foreground-alt-3: #A6A6A6;
    --neutral: #777;
    --border-radius: 4px;
    --color-1: #FF5C5C;
    --color-2: #FFB03B;
    --color-3: #FFEA3B;
    --color-4: #A6FF3B;
    --color-5: #3BFFC4;
    --color-6: #3B9CFF;
    --color-7: #A63BFF;
    --color-8: #FF3BDE;
    --color-9: #FF3B8C;
    --input-padding: 0.6rem 0.8rem;
    --gap: 5px;
}

body, html {
    height: 100%;
    margin: 0;
    background: var(--background);
    color: var(--foreground);
    font-family: sans-serif;
}

#content {
    height: 100%;
}

.text-message, .data-message {
    padding: 10px;
    background: var(--background-alt);
    width: max-content;
    border-radius: var(--border-radius);
    max-width: calc(100% - 30px);
}

.data-message {
    background: var(--background-alt);
    overflow: auto;
    max-height: 50vh;
    height: max-content;
}

.chat-box {
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    gap: var(--gap);
}

.loudness-bar {
    height: 10px;
    background: var(--foreground-alt-2);
    border-radius: var(--border-radius);
}

.chat-box-messages {
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.chat-box-input {
    display: flex;
    align-items: center;
}

.chat-box-input-field {
    flex-grow: 1;
    font-size: 2rem;
}

.chat-box-input-field:focus {
    outline: none;
}

.message-image {
    max-height: 200px;
    max-width: 200px;
}

.message.assistant {
    border-left: 5px solid var(--color-6);
}

.message.user {
    border-left: 5px solid var(--color-4);
}

.message.error {
    border-left: 5px solid var(--color-1);
}

.message.system {
    padding: 0;
    background: transparent;
    color: var(--color-6);
    font-size: 0.8rem;
}

.message.data {
    font-family: monospace;
    font-size: 0.8rem;
    word-wrap: anywhere;
}

.flex, .flex-v {
    display: flex;
    gap: var(--gap);
}

.align-content {
    align-items: center;
}

.flex-grow {
    flex-grow: 1;
}

.flex-v {
    flex-direction: column;
}

.padded {
    padding: 10px;
}

.rounded {
    border-radius: var(--border-radius);
}

button {
    cursor: pointer;
}

button:hover {
    background: var(--background-alt-2);
}

.login-error {
    color: var(--color-1);
}

button, input, textarea {
    width: max-content;
    border: 1px solid var(--foreground-alt-3);
    border-radius: var(--border-radius);
    background: var(--background-alt);
    color: var(--foreground);
    padding: var(--input-padding);
}

input {
    padding: var(--input-padding);
    border-radius: var(--border-radius);
    border: 1px solid var(--foreground-alt-3);
    background: var(--background-alt);
    color: var(--foreground);
}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: monospace;
}

table, th, td {
    border: 1px solid var(--foreground-alt-3);
}

th, td {
    padding: 5px;
    text-align: left;
}

th {
    background: var(--background-alt);
}

tr:nth-child(even) {
    background-color: var(--background-alt-2);
}

tr:hover {
    background-color: var(--background-alt);
}
