:root {
    --background: #111720;
    --background-alt: #1E2A32;
    --background-alt-2: #2F3A40;
    --foreground: #F2F2F2;
    --foreground-alt: #D9D9D9;
    --foreground-alt-2: #BFBFBF;
    --foreground-alt-3: #A6A6A6;
    --neutral: #777;
    --border-radius: 4px;
    --color-1: #FF5C5C;
    --color-2: #FFB03B;
    --color-3: #FFEA3B;
    --color-4: #A6FF3B;
    --color-5: #3BFFC4;
    --color-6: #3B9CFF;
    --color-7: #A63BFF;
    --color-8: #FF3BDE;
    --color-9: #FF3B8C;
}

body, html {
    height: 100%;
    margin: 0;
    background: var(--background);
    color: var(--foreground);
    font-family: sans-serif;
}

#content {
    height: 100%;
}

.message {
    padding: 10px;
    background: var(--background-alt);
    width: max-content;
    border-radius: var(--border-radius);
    max-width: calc(100% - 30px);
}

.chat-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loudness-bar {
    height: 10px;
    background: var(--foreground-alt-2);
    border-radius: var(--border-radius);
}

.chat-box-messages {
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.chat-box-input {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background: var(--background-alt);
}

.chat-box-input-field {
    flex-grow: 1;
    font-size: 2rem;
    background: transparent;
    border-radius: var(--border-radius);
    border: none;
    color: var(--foreground);
}

.chat-box-input-field:focus {
    outline: none;
}

.message-image {
    max-height: 200px;
    max-width: 200px;
}

.message.assistant {
    border-left: 5px solid var(--color-6);
}

.message.user {
    border-left: 5px solid var(--color-4);
}