:root {
    --background: #151414;
    --background-alt: #1e1c1c;
    --background-alt-2: #2e2b2b;
    --background-alt-3: #0b0808;
    --foreground: #e7e6e3;
    --foreground-alt: #D9D9D9;
    --foreground-alt-2: #BFBFBF;
    --foreground-alt-3: #A6A6A6;
    --neutral: #777;
    --border-radius: 4px;
    --color-1: #FF5C5C;
    --color-2: #FFB03B;
    --color-3: #FFEA3B;
    --color-4: #A6FF3B;
    --color-5: #3BFFC4;
    --color-6: #3B9CFF;
    --color-7: #A63BFF;
    --color-8: #FF3BDE;
    --color-9: #FF3B8C;
    --font-size: 16px;
    --regular-padding: 10px;
    --small-padding: 5px;
    --vertical-input-padding: 0.4rem;
    --horizontal-input-padding: 0.6rem;
    --input-padding: var(--vertical-input-padding) var(--horizontal-input-padding);
    --gap: 5px;
    --spotify-green: #1DB954;
    --spotify-black: #191414;
}

@media (pointer:none), (pointer:coarse) {
    :root {
        --font-size: 20px;
    }

    .not-mobile {
        display: none;
    }

    .chat-box-input {
        flex-wrap: nowrap;
    }

    .chat-box-input-field {
        max-width: calc(100% - 100px);
    }
}

body, html {
    height: 100%;
    margin: 0;
    background: var(--background-alt);
    color: var(--foreground);
    font-family: sans-serif;
    font-size: var(--font-size);
}

.long-text {
    font-size: 0.8rem;
    font-family: sans-serif;
}

#content {
    height: 100%;
}

.hidden {
    display: none;
}

.text-message, .data-message, .image-message {
    padding: var(--regular-padding);
    background: var(--background-alt);
    width: max-content;
    border-radius: var(--border-radius);
    max-width: calc(100% - 30px);
}

.image-message {
    padding: 0;
    overflow: hidden;
}

.data-message {
    background: var(--background-alt);
    overflow: auto;
    max-height: 50vh;
    height: max-content;
    flex-wrap: nowrap !important;
}

.chat-box {
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--regular-padding);
    gap: var(--gap);
}

.spaced {
    justify-content: space-between;
}

.red-dot-container {
    --red-dot-max-size: calc(1em + (2 * var(--vertical-input-padding)));
    width: var(--red-dot-max-size);
    height: var(--red-dot-max-size);
    display: flex;
}

.red-dot {
    margin: auto;
    height: calc(var(--red-dot-max-size) * .5);
    width: calc(var(--red-dot-max-size) * .5);
    transform-origin: center;
    background: var(--color-1);
    border-radius: 50%;
}

.chat-box-messages {
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--regular-padding);
    background: var(--background-alt-3);
    border-radius: var(--border-radius);
}

.chat-box-input {
    display: flex;
    align-items: center;
}

.chat-box-input-field {
    flex-grow: 1;
    font-size: 2rem;
}

.send-button.sending {
    cursor: not-allowed;
    pointer-events: none;
    background: var(--background-alt-2);
    color: var(--foreground-alt-2);
}

.send-button * {
    font-size: 2rem;
}

.send-button .material-symbols-outlined {
    font-size: 2rem !important;
}

.chat-box-input-field:focus {
    outline: none;
}

.message-image {
    max-height: 200px;
    max-width: 200px;
}

.message.assistant, .message.loading {
    border-left: 5px solid var(--color-6);
}

.message.user {
    border-right: 5px solid var(--color-4);
}

.message.user.loading {
    border-left: none;
}

.message.error {
    border-left: 5px solid var(--color-1);
}

.message.system {
    padding: 0;
    background: transparent;
    color: var(--color-6);
    font-size: 0.8rem;
}

.message.data {
    font-family: monospace;
    font-size: 0.8rem;
    word-wrap: anywhere;
}

.message-container {
    padding: var(--small-padding);
    border-radius: var(--border-radius);
}

.message-container:hover {
    background: var(--background);
}

.message-container:hover .message-time {
    display: flex;
}

.message-container.user {
    display: flex;
    justify-content: flex-end;
}

.message-time {
    display: none;
    font-size: 0.8rem;
    color: var(--foreground-alt-2);
}

.message.loading {
    width: min(200px, 100%);
    height: 13px;
    position: relative;
    overflow: hidden;
}

.message.loading::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    filter: blur(50px);
    background: var(--foreground-alt-2);
    animation: loading-highlight 2s infinite linear;
    transform: skew(-45deg);
}

@keyframes loading-highlight {
    0% {
        margin-left: -100%;
    }
    100% {
        margin-left: 200%;
    }
}

.full-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.flex, .flex-v {
    display: flex;
    gap: var(--gap);
    flex-wrap: wrap;
}

.align-content {
    align-items: center;
}

.flex-grow {
    flex-grow: 1;
}

.flex-v {
    flex-direction: column;
}

.padded {
    padding: 10px;
}

.rounded {
    border-radius: var(--border-radius);
}

.material-symbols-outlined {
    font-size: 1rem !important;
}

button {
    cursor: pointer;
    display: flex;
    gap: var(--gap);
    align-items: center;
}

button:hover {
    background: var(--background-alt-2);
    text-decoration: underline;
}

.login-error {
    color: var(--color-1);
}

button, input, textarea {
    width: max-content;
    border: 1px solid var(--foreground-alt-3);
    border-radius: var(--border-radius);
    background: var(--background-alt);
    color: var(--foreground);
    padding: var(--input-padding);
}

input {
    padding: var(--input-padding);
    border-radius: var(--border-radius);
    border: 1px solid var(--foreground-alt-3);
    background: var(--background-alt);
    color: var(--foreground);
}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: monospace;
}

table, th, td {
    border: 1px solid var(--foreground-alt-3);
}

th, td {
    padding: 5px;
    text-align: left;
}

th {
    background: var(--background-alt);
}

tr:nth-child(even) {
    background-color: var(--background-alt-2);
}

tr:hover {
    background-color: var(--background-alt);
}

a {
    color: var(--color-6);
}

a:hover {
    color: var(--color-5);
}

button.active {
    font-weight: bold;
}

.spotify-button {
    color: var(--spotify-green);
}

.spotify-button.active {
    background: var(--spotify-green);
    border: 1px solid var(--spotify-green);
    color: var(--background);
}

.icon {
    height: 1rem;
    width: 1rem;
    filter: invert(1);
}

.spinner {
    --spinner-size: 1em;
    --translation-size: calc(var(--spinner-size) / 2 - var(--spinner-size) / 10);
    height: var(--spinner-size);
    width: var(--spinner-size);
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner > div {
    box-sizing: border-box;
    position: absolute;
    width: 20%; /*This size will affect the distance of the dots from the center.*/
    height: 20%; /*Should be the same as the width.*/
    border-radius: 50%;
    background-color: var(--foreground);
    animation: spinning-circle 1.4s linear infinite;
}

@keyframes spinning-circle {
    0% {
        transform: rotate(0deg) translate(var(--translation-size)) rotate(0deg) scale(0.5);
    }
    50% {
        transform: rotate(240deg) translate(var(--translation-size)) rotate(-240deg) scale(1);
    }
    100% {
        transform: rotate(360deg) translate(var(--translation-size)) rotate(-360deg) scale(0.5);
    }
}

.spinner > div::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: var(--foreground);
    border-radius: 100%;
}

.toast-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--regular-padding);
    z-index: 999;
}

.toast {
    background: var(--background-alt);
    border: 1px solid var(--foreground-alt);
    border-radius: var(--border-radius);
    padding: var(--regular-padding);
    display: flex;
    gap: var(--gap);
    align-self: end;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    max-width: max-content;
}

.toast.error {
    border-color: var(--color-1);
}

.toast.success {
    border-color: var(--color-4);
}